
  * {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    body {
      background-color: rgb(224, 233, 236);
    }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: lightblue;
    color: #fff;
  }
  
  h1 {
    font-size: 200%;
    color:black;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 150%;
    text-decoration: underline;
    color:gray;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: black;
  }

  
a {
  display:flex;
}


  .work {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: lightgrey;
    padding: 20px;
  }
  

  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .footer {
    padding: 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:lightgrey;
  }


  #firstcard {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    float: left;
    width: 80%;
    flex: 0 0 600px;
    box-shadow: 10px 10px 5px gray;
    margin: 20px;
  }


  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px;
    float: left;
    width: 25%;
    flex: 0 0 400px;
    box-shadow: 10px 10px 5px black;
    margin: 20px;
  }
  
  

  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height:300px;
  }

  .projects {
    flex:3;
    background-color: #fff;
    padding: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #contact{
    width:600px;
  }
  
  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: orange;
    }

    #firstcard {
      /* width: 20%; */
      flex: 0 0 400px;
    }
  }
    .nav a {
      float: none;
      width: 100%;
      background: blue;
    }

    /* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  /* Change the header color */
  header {
    background: #8ac4ff;
  }
  .overlay {
    background-color: gray;
  }

  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
}